@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
    transition: background-color 0.3s, color 0.3s;
}

@layer components {
    .neu-badge {
        @apply text-secondary text-center border-[0.8px] border-[#ead2b6];

        /* dark mode */
        @apply dark:border-[#353535] rounded-full dark:shadow-neu-dark-inset-xs;
    }

    /*-- -------------------------------- neu-btn -------------------------------- */
    .neu-btn {
        @apply text-secondary text-center tracking-wider border-[0.8px] border-[#ead2b6] py-2 px-4 rounded-lg transition-all duration-300 shadow-neu-xs;

        /* dark mode */
        @apply dark:border-[#353535] dark:shadow-neu-dark-xs;
    }

    .neu-btn:active {
        @apply text-primary shadow-neu-inset-sm;

        /* dark mode*/
        @apply dark:shadow-neu-dark-inset-xs;
    }

    .neu-btn:hover,
    .neu-btn:focus {
        @apply text-primary transform scale-105;
    }
    /*-- -------------------------------- neu-icon-btn -------------------------------- */
    .neu-icon-btn {
        @apply flex justify-center items-center gap-2 text-sm;
    }

    /*-- -------------------------------- neu-icon-only-btn -------------------------------- */
    .neu-icon-only-btn {
        @apply rounded-full bg-btn-gradient p-2 shadow-neu-md;

        /* dark mode */
        @apply dark:shadow-neu-dark-md;
    }

    .neu-inset-input {
        @apply bg-primary appearance-none rounded-xl border-none shadow-neu-inset-sm outline-none 
        placeholder:tracking-wide;

        /* dark mode */
        @apply dark:shadow-neu-dark-inset-sm;
    }

    .neu-inset-input:focus,
    .neu-inset-input:hover,
    .neu-inset-input:active {
        @apply shadow-neu-md placeholder:text-primary;

        /* dark mode */
        @apply dark:shadow-neu-dark-md;
    }
}

@layer utilities {
    /*-- -------------------------------- text -------------------------------- */
    .text-primary {
        @apply text-light-text;
        @apply dark:text-dark-text;
    }

    .text-secondary {
        @apply text-light-text-secondary;
        @apply dark:text-dark-text-secondary;
    }

    .text-tertiary {
        @apply text-light-text-tertiary;
        @apply dark:text-dark-text-tertiary;
    }

    .text-accent {
        @apply text-light-accent;
        @apply dark:text-dark-accent;
    }

    .text-highlight {
        @apply text-light-highlight;
        @apply dark:text-dark-highlight;
    }

    /*-- -------------------------------- bg -------------------------------- */
    .bg-primary {
        @apply bg-light-primary;
        @apply dark:bg-dark-primary;
    }

    .bg-secondary {
        @apply bg-light-secondary;
        @apply dark:bg-dark-secondary;
    }

    .bg-dim {
        @apply bg-light-primary-dim;
        @apply dark:bg-dark-primary-dim;
    }

    .bg-accent {
        @apply bg-light-accent;
        @apply dark:bg-dark-accent;
    }

    .bg-highlight {
        @apply bg-light-highlight;
        @apply dark:bg-dark-highlight;
    }

    /*-- -------------------------------- shadow -------------------------------- */
}
