@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: background-color 0.3s, color 0.3s;
}

@layer components {
    .neu-badge {
        @apply text-secondary text-center border-[0.8px] border-[#ead2b6];

        /* dark mode */
        @apply dark:border-[#353535] rounded-full dark:shadow-neu-dark-inset-xs;
    }

    /*-- -------------------------------- neu-btn -------------------------------- */
    .neu-btn {
        @apply text-secondary text-center tracking-wider border-[0.8px] border-[#ead2b6] py-2 px-4 rounded-lg transition-all duration-300 shadow-neu-xs;

        /* dark mode */
        @apply dark:border-[#353535] dark:shadow-neu-dark-xs;
    }

    .neu-btn:active {
        @apply text-primary shadow-neu-inset-sm;

        /* dark mode*/
        @apply dark:shadow-neu-dark-inset-xs;
    }

    .neu-btn:hover,
    .neu-btn:focus {
        @apply text-primary transform scale-105;
    }
    /*-- -------------------------------- neu-icon-btn -------------------------------- */
    .neu-icon-btn {
        @apply flex justify-center items-center gap-2 text-sm;
    }

    /*-- -------------------------------- neu-icon-only-btn -------------------------------- */
    .neu-icon-only-btn {
        @apply rounded-full bg-btn-gradient p-2 shadow-neu-md-soft;

        /* dark mode */
        @apply dark:shadow-neu-dark-md;
    }

    /*-- -------------------------------- neu-inset-input -------------------------------- */
    .neu-inset-input {
        @apply bg-primary appearance-none rounded-xl border-none shadow-neu-inset-sm outline-none 
        placeholder:tracking-wide;

        /* dark mode */
        @apply dark:shadow-neu-dark-inset-sm;
    }

    .neu-inset-input:focus,
    .neu-inset-input:hover,
    .neu-inset-input:active {
        @apply shadow-neu-md-soft placeholder:text-primary;

        /* dark mode */
        @apply dark:shadow-neu-dark-md;
    }

    /*-- -------------------------------- neu-inset-checkbox -------------------------------- */
    .neu-inset-checkbox {
        @apply appearance-none rounded-full  border-8 border-light-secondary bg-primary outline-none flex items-center justify-center cursor-pointer size-52 shadow-neu-xl-soft checked:shadow-neu-inset-lg;

        /* dark mode */
        @apply dark:border-dark-secondary dark:shadow-neu-dark-xl checked:dark:shadow-neu-dark-inset-md;
    }
}
@layer utilities {
    /*-- -------------------------------- text -------------------------------- */
    .text-primary {
        @apply text-light-text;
        @apply dark:text-dark-text;
    }

    .text-secondary {
        @apply text-light-text-secondary;
        @apply dark:text-dark-text-secondary;
    }

    .text-tertiary {
        @apply text-light-text-tertiary;
        @apply dark:text-dark-text-tertiary;
    }

    .text-accent {
        @apply text-light-accent;
        @apply dark:text-dark-accent;
    }

    .text-highlight {
        @apply text-light-highlight;
        @apply dark:text-dark-highlight;
    }

    /*-- -------------------------------- bg-patterns -------------------------------- */

    .pattern-circles {
        background-color: #ffe9d0;
        background-image: radial-gradient(
                circle at center center,
                #ffcdb2,
                #ffe9d0
            ),
            repeating-radial-gradient(
                circle at center center,
                #ffcdb2,
                #ffcdb2,
                10px,
                transparent 20px,
                transparent 10px
            );
        background-blend-mode: multiply;
    }

    .pattern-dark-circles {
        background-color: #12121280;
        background-image: radial-gradient(
                circle at center center,
                #303030,
                #121212
            ),
            repeating-radial-gradient(
                circle at center center,
                #303030,
                #303030,
                10px,
                transparent 20px,
                transparent 10px
            );
        background-blend-mode: multiply;
    }

    .pattern-isometric {
        background-color: #ffe9d0;
        background-image: linear-gradient(
                30deg,
                #ffcdb2 12%,
                transparent 12.5%,
                transparent 87%,
                #ffcdb2 87.5%,
                #ffcdb2
            ),
            linear-gradient(
                150deg,
                #ffcdb2 12%,
                transparent 12.5%,
                transparent 87%,
                #ffcdb2 87.5%,
                #ffcdb2
            ),
            linear-gradient(
                30deg,
                #ffcdb2 12%,
                transparent 12.5%,
                transparent 87%,
                #ffcdb2 87.5%,
                #ffcdb2
            ),
            linear-gradient(
                150deg,
                #ffcdb2 12%,
                transparent 12.5%,
                transparent 87%,
                #ffcdb2 87.5%,
                #ffcdb2
            ),
            linear-gradient(
                60deg,
                #ffcdb277 25%,
                transparent 25.5%,
                transparent 75%,
                #ffcdb277 75%,
                #ffcdb277
            ),
            linear-gradient(
                60deg,
                #ffcdb277 25%,
                transparent 25.5%,
                transparent 75%,
                #ffcdb277 75%,
                #ffcdb277
            );
        background-size: 20px 35px;
        background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
    }

    .pattern-dark-isometric {
        background-color: #121212;
        background-image: linear-gradient(
                30deg,
                #303030 12%,
                transparent 12.5%,
                transparent 87%,
                #303030 87.5%,
                #303030
            ),
            linear-gradient(
                150deg,
                #303030 12%,
                transparent 12.5%,
                transparent 87%,
                #303030 87.5%,
                #303030
            ),
            linear-gradient(
                30deg,
                #303030 12%,
                transparent 12.5%,
                transparent 87%,
                #303030 87.5%,
                #303030
            ),
            linear-gradient(
                150deg,
                #303030 12%,
                transparent 12.5%,
                transparent 87%,
                #303030 87.5%,
                #303030
            ),
            linear-gradient(
                60deg,
                #30303077 25%,
                transparent 25.5%,
                transparent 75%,
                #30303077 75%,
                #30303077
            ),
            linear-gradient(
                60deg,
                #30303077 25%,
                transparent 25.5%,
                transparent 75%,
                #30303077 75%,
                #30303077
            );
        background-size: 20px 35px;
        background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
    }

    .pattern-waves {
        background-color: #ffe9d0;
        background-image: radial-gradient(circle at 0 0, #ffcdb2, #ffe9d0),
            repeating-radial-gradient(
                circle at 0 0,
                #ffcdb2,
                #ffcdb2,
                10px,
                transparent 20px,
                transparent 10px
            );
        background-blend-mode: multiply;
    }

    .pattern-dark-waves {
        background-color: #12121280;
        background-image: radial-gradient(
                circle at 0 0,
                #303030,
                #121212
            ),
            repeating-radial-gradient(
                circle at 0 0,
                #303030,
                #303030,
                10px,
                transparent 20px,
                transparent 10px
            );
        background-blend-mode: multiply;
    }

    .pattern-zigzag {
        background-color: #ffe9d0;
        background: linear-gradient(135deg, #ffcdb255 25%, transparent 25%) -10px
                0/ 20px 20px,
            linear-gradient(225deg, #ffcdb2 25%, transparent 25%) -10px 0/ 20px
                20px,
            linear-gradient(315deg, #ffcdb255 25%, transparent 25%) 0px 0/ 20px 20px,
            linear-gradient(45deg, #ffcdb2 25%, #ffe9d0 25%) 0px 0/ 20px 20px;
    }

    .pattern-dark-zigzag {
        background-color: #121212;
        background: linear-gradient(135deg, #30303055 25%, transparent 25%) -10px
                0/ 20px 20px,
            linear-gradient(225deg, #303030 25%, transparent 25%) -10px 0/ 20px
                20px,
            linear-gradient(315deg, #30303055 25%, transparent 25%) 0px 0/ 20px 20px,
            linear-gradient(45deg, #303030 25%, #121212 25%) 0px 0/ 20px 20px;
    }

    /*-- -------------------------------- bg -------------------------------- */
    .bg-primary {
        @apply bg-light-primary;
        @apply dark:bg-dark-primary;
    }

    .bg-secondary {
        @apply bg-light-secondary;
        @apply dark:bg-dark-secondary;
    }

    .bg-dim {
        @apply bg-light-primary-dim;
        @apply dark:bg-dark-primary-dim;
    }

    .bg-accent {
        @apply bg-light-accent;
        @apply dark:bg-dark-accent;
    }

    .bg-highlight {
        @apply bg-light-highlight;
        @apply dark:bg-dark-highlight;
    }

    .bg-starry-night {
        background-size: cover;
        background-position: center center;
        background-repeat: repeat;
        background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1125%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3Cfilter id=%22c%22 x=%22-200%25%22 y=%22-200%25%22 width=%22500%25%22 height=%22500%25%22%3E%3CfeGaussianBlur in=%22SourceGraphic%22 stdDeviation=%2220%22%2F%3E%3C%2Ffilter%3E%3Cfilter id=%22a%22 x=%22-100%25%22 y=%22-100%25%22 width=%22300%25%22 height=%22300%25%22%3E%3CfeGaussianBlur in=%22SourceGraphic%22 stdDeviation=%2210%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cpath fill=%22%23121212%22 d=%22M0 0h2000v1125H0z%22%2F%3E%3Cellipse cx=%22190.126%22 cy=%2236.509%22 rx=%223.825%22 ry=%223.543%22 fill=%22%23fff%22 opacity=%22-.184%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22190.126%22 cy=%2236.509%22 rx=%222.164%22 ry=%221.772%22 fill=%22%23fff%22 opacity=%22-.184%22%2F%3E%3Cellipse cx=%22333.067%22 cy=%2251.419%22 rx=%223.013%22 ry=%222.822%22 fill=%22%23fff%22 opacity=%22.132%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22333.067%22 cy=%2251.419%22 rx=%221.474%22 ry=%221.411%22 fill=%22%23fff%22 opacity=%22.132%22%2F%3E%3Cellipse cx=%22470.793%22 cy=%2225.234%22 rx=%223.464%22 ry=%223.09%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22470.793%22 cy=%2225.234%22 rx=%221.954%22 ry=%221.545%22 fill=%22%23fff%22 opacity=%22.778%22%2F%3E%3Cellipse cx=%22752.53%22 cy=%22103.611%22 rx=%223.722%22 ry=%223.291%22 fill=%22%23fff%22 opacity=%22-.008%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22752.53%22 cy=%22103.611%22 rx=%221.674%22 ry=%221.646%22 fill=%22%23fff%22 opacity=%22-.008%22%2F%3E%3Cellipse cx=%22880.171%22 cy=%2259.43%22 rx=%223.269%22 ry=%223.18%22 fill=%22%23fff%22 opacity=%22.018%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22880.171%22 cy=%2259.43%22 rx=%221.732%22 ry=%221.59%22 fill=%22%23fff%22 opacity=%22.018%22%2F%3E%3Cellipse cx=%221179.21%22 cy=%2243.899%22 rx=%223.686%22 ry=%223.393%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221179.21%22 cy=%2243.899%22 rx=%221.741%22 ry=%221.697%22 fill=%22%23fff%22 opacity=%22.549%22%2F%3E%3Cellipse cx=%221355.612%22 cy=%2213.393%22 rx=%224.074%22 ry=%223.645%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221355.612%22 cy=%2213.393%22 rx=%222.274%22 ry=%221.823%22 fill=%22%23fff%22 opacity=%22.846%22%2F%3E%3Cellipse cx=%221459.702%22 cy=%227.71%22 rx=%224.037%22 ry=%223.818%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221459.702%22 cy=%227.71%22 rx=%222.374%22 ry=%221.909%22 fill=%22%23fff%22 opacity=%22.608%22%2F%3E%3Cellipse cx=%221725.216%22 cy=%2293.181%22 rx=%222.486%22 ry=%222.203%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221725.216%22 cy=%2293.181%22 rx=%221.267%22 ry=%221.102%22 fill=%22%23fff%22 opacity=%22.706%22%2F%3E%3Cellipse cx=%221863.181%22 cy=%2278.786%22 rx=%223.657%22 ry=%223.364%22 fill=%22%23fff%22 opacity=%22.367%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221863.181%22 cy=%2278.786%22 rx=%222.149%22 ry=%221.682%22 fill=%22%23fff%22 opacity=%22.367%22%2F%3E%3Cellipse cx=%2270.367%22 cy=%22153.15%22 rx=%224.198%22 ry=%223.769%22 fill=%22%23fff%22 opacity=%22.198%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%2270.367%22 cy=%22153.15%22 rx=%222.211%22 ry=%221.884%22 fill=%22%23fff%22 opacity=%22.198%22%2F%3E%3Cellipse cx=%22394.563%22 cy=%22139.594%22 rx=%223.726%22 ry=%223.573%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22394.563%22 cy=%22139.594%22 rx=%222.019%22 ry=%221.787%22 fill=%22%23fff%22 opacity=%22.651%22%2F%3E%3Cellipse cx=%22589.554%22 cy=%22186.678%22 rx=%223.077%22 ry=%223.034%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22589.554%22 cy=%22186.678%22 rx=%221.799%22 ry=%221.517%22 fill=%22%23fff%22 opacity=%22.549%22%2F%3E%3Cellipse cx=%22653.753%22 cy=%22208.497%22 rx=%223.139%22 ry=%222.825%22 fill=%22%23fff%22 opacity=%22.031%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22653.753%22 cy=%22208.497%22 rx=%221.6%22 ry=%221.413%22 fill=%22%23fff%22 opacity=%22.031%22%2F%3E%3Cellipse cx=%22854.5%22 cy=%22221.043%22 rx=%222.604%22 ry=%222.539%22 fill=%22%23fff%22 opacity=%22.149%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22854.5%22 cy=%22221.043%22 rx=%221.559%22 ry=%221.269%22 fill=%22%23fff%22 opacity=%22.149%22%2F%3E%3Cellipse cx=%221076.884%22 cy=%22211.445%22 rx=%222.908%22 ry=%222.722%22 fill=%22%23fff%22 opacity=%22-.186%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221076.884%22 cy=%22211.445%22 rx=%221.686%22 ry=%221.361%22 fill=%22%23fff%22 opacity=%22-.186%22%2F%3E%3Cellipse cx=%221240.972%22 cy=%22171.728%22 rx=%224.217%22 ry=%223.955%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221240.972%22 cy=%22171.728%22 rx=%222.363%22 ry=%221.977%22 fill=%22%23fff%22 opacity=%22.738%22%2F%3E%3Cellipse cx=%221427.358%22 cy=%22116.51%22 rx=%223.887%22 ry=%223.532%22 fill=%22%23fff%22 opacity=%22.194%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221427.358%22 cy=%22116.51%22 rx=%222.244%22 ry=%221.766%22 fill=%22%23fff%22 opacity=%22.194%22%2F%3E%3Cellipse cx=%221699.602%22 cy=%22153.318%22 rx=%223.262%22 ry=%223.179%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221699.602%22 cy=%22153.318%22 rx=%221.801%22 ry=%221.589%22 fill=%22%23fff%22 opacity=%22.784%22%2F%3E%3Cellipse cx=%221947.345%22 cy=%22198.358%22 rx=%222.496%22 ry=%222.406%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221947.345%22 cy=%22198.358%22 rx=%221.363%22 ry=%221.203%22 fill=%22%23fff%22 opacity=%22.672%22%2F%3E%3Cellipse cx=%2233.882%22 cy=%22270.937%22 rx=%222.714%22 ry=%222.448%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%2233.882%22 cy=%22270.937%22 rx=%221.621%22 ry=%221.224%22 fill=%22%23fff%22 opacity=%22.509%22%2F%3E%3Cellipse cx=%22243.563%22 cy=%22255.297%22 rx=%223.759%22 ry=%223.499%22 fill=%22%23fff%22 opacity=%22.383%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22243.563%22 cy=%22255.297%22 rx=%221.996%22 ry=%221.75%22 fill=%22%23fff%22 opacity=%22.383%22%2F%3E%3Cellipse cx=%22413.522%22 cy=%22231.951%22 rx=%223.393%22 ry=%223.178%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Ccircle cx=%22413.522%22 cy=%22231.951%22 fill=%22%23fff%22 opacity=%22.707%22 r=%221.589%22%2F%3E%3Cellipse cx=%22600.262%22 cy=%22323.73%22 rx=%223.081%22 ry=%222.899%22 fill=%22%23fff%22 opacity=%22.187%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22600.262%22 cy=%22323.73%22 rx=%221.832%22 ry=%221.449%22 fill=%22%23fff%22 opacity=%22.187%22%2F%3E%3Cellipse cx=%22958.843%22 cy=%22261.999%22 rx=%222.557%22 ry=%222.444%22 fill=%22%23fff%22 opacity=%22.154%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22958.843%22 cy=%22261.999%22 rx=%221.541%22 ry=%221.222%22 fill=%22%23fff%22 opacity=%22.154%22%2F%3E%3Cellipse cx=%221012.92%22 cy=%22286.741%22 rx=%222.555%22 ry=%222.368%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221012.92%22 cy=%22286.741%22 rx=%221.481%22 ry=%221.184%22 fill=%22%23fff%22 opacity=%22.567%22%2F%3E%3Cellipse cx=%221220.82%22 cy=%22235.722%22 rx=%223.808%22 ry=%223.387%22 fill=%22%23fff%22 opacity=%22.136%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221220.82%22 cy=%22235.722%22 rx=%222.024%22 ry=%221.694%22 fill=%22%23fff%22 opacity=%22.136%22%2F%3E%3Cellipse cx=%221400.141%22 cy=%22274.377%22 rx=%222.131%22 ry=%222.13%22 fill=%22%23fff%22 opacity=%22-.015%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221400.141%22 cy=%22274.377%22 rx=%221.361%22 ry=%221.065%22 fill=%22%23fff%22 opacity=%22-.015%22%2F%3E%3Cellipse cx=%221697.87%22 cy=%22331.507%22 rx=%223.418%22 ry=%223.073%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221697.87%22 cy=%22331.507%22 rx=%221.895%22 ry=%221.537%22 fill=%22%23fff%22 opacity=%22.565%22%2F%3E%3Cellipse cx=%221991.742%22 cy=%22288.883%22 rx=%223.737%22 ry=%223.245%22 fill=%22%23fff%22 opacity=%22.366%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221991.742%22 cy=%22288.883%22 rx=%221.817%22 ry=%221.623%22 fill=%22%23fff%22 opacity=%22.366%22%2F%3E%3Cellipse cx=%22112.791%22 cy=%22381.437%22 rx=%223.281%22 ry=%223.163%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22112.791%22 cy=%22381.437%22 rx=%221.991%22 ry=%221.581%22 fill=%22%23fff%22 opacity=%22.569%22%2F%3E%3Cellipse cx=%22289.848%22 cy=%22374.065%22 rx=%223.87%22 ry=%223.639%22 fill=%22%23fff%22 opacity=%22-.146%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22289.848%22 cy=%22374.065%22 rx=%221.989%22 ry=%221.819%22 fill=%22%23fff%22 opacity=%22-.146%22%2F%3E%3Cellipse cx=%22465.502%22 cy=%22426.627%22 rx=%223.802%22 ry=%223.367%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22465.502%22 cy=%22426.627%22 rx=%221.857%22 ry=%221.684%22 fill=%22%23fff%22 opacity=%22.59%22%2F%3E%3Cellipse cx=%22619.921%22 cy=%22377.748%22 rx=%223.215%22 ry=%222.902%22 fill=%22%23fff%22 opacity=%22.139%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22619.921%22 cy=%22377.748%22 rx=%221.873%22 ry=%221.451%22 fill=%22%23fff%22 opacity=%22.139%22%2F%3E%3Cellipse cx=%22875.035%22 cy=%22424.79%22 rx=%223.342%22 ry=%222.868%22 fill=%22%23fff%22 opacity=%22.324%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22875.035%22 cy=%22424.79%22 rx=%221.844%22 ry=%221.434%22 fill=%22%23fff%22 opacity=%22.324%22%2F%3E%3Cellipse cx=%221180.163%22 cy=%22403.773%22 rx=%223.216%22 ry=%222.987%22 fill=%22%23fff%22 opacity=%22.018%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221180.163%22 cy=%22403.773%22 rx=%221.648%22 ry=%221.494%22 fill=%22%23fff%22 opacity=%22.018%22%2F%3E%3Cellipse cx=%221354.114%22 cy=%22449.244%22 rx=%222.165%22 ry=%222.007%22 fill=%22%23fff%22 opacity=%22.046%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221354.114%22 cy=%22449.244%22 rx=%221.128%22 ry=%221.003%22 fill=%22%23fff%22 opacity=%22.046%22%2F%3E%3Cellipse cx=%221518.213%22 cy=%22408.473%22 rx=%223.333%22 ry=%222.907%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221518.213%22 cy=%22408.473%22 rx=%221.793%22 ry=%221.453%22 fill=%22%23fff%22 opacity=%22.6%22%2F%3E%3Cellipse cx=%221635.031%22 cy=%22345.305%22 rx=%223.596%22 ry=%223.183%22 fill=%22%23fff%22 opacity=%22.042%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221635.031%22 cy=%22345.305%22 rx=%221.868%22 ry=%221.592%22 fill=%22%23fff%22 opacity=%22.042%22%2F%3E%3Cellipse cx=%221870.327%22 cy=%22376.516%22 rx=%223.143%22 ry=%222.727%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221870.327%22 cy=%22376.516%22 rx=%221.799%22 ry=%221.364%22 fill=%22%23fff%22 opacity=%22.581%22%2F%3E%3Cellipse cx=%22147.065%22 cy=%22548.88%22 rx=%222.446%22 ry=%222.37%22 fill=%22%23fff%22 opacity=%22.034%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22147.065%22 cy=%22548.88%22 rx=%221.355%22 ry=%221.185%22 fill=%22%23fff%22 opacity=%22.034%22%2F%3E%3Cellipse cx=%22249.388%22 cy=%22522.131%22 rx=%223.604%22 ry=%223.539%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22249.388%22 cy=%22522.131%22 rx=%222.194%22 ry=%221.769%22 fill=%22%23fff%22 opacity=%22.739%22%2F%3E%3Cellipse cx=%22475.474%22 cy=%22487.554%22 rx=%222.919%22 ry=%222.438%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22475.474%22 cy=%22487.554%22 rx=%221.384%22 ry=%221.219%22 fill=%22%23fff%22 opacity=%22.663%22%2F%3E%3Cellipse cx=%22618.429%22 cy=%22507.315%22 rx=%224.13%22 ry=%223.937%22 fill=%22%23fff%22 opacity=%22.101%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22618.429%22 cy=%22507.315%22 rx=%222.193%22 ry=%221.968%22 fill=%22%23fff%22 opacity=%22.101%22%2F%3E%3Cellipse cx=%22924.389%22 cy=%22531.446%22 rx=%222.943%22 ry=%222.527%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22924.389%22 cy=%22531.446%22 rx=%221.334%22 ry=%221.263%22 fill=%22%23fff%22 opacity=%22.881%22%2F%3E%3Cellipse cx=%221062.502%22 cy=%22469.495%22 rx=%223.24%22 ry=%223.178%22 fill=%22%23fff%22 opacity=%22-.073%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221062.502%22 cy=%22469.495%22 rx=%221.676%22 ry=%221.589%22 fill=%22%23fff%22 opacity=%22-.073%22%2F%3E%3Cellipse cx=%221333.842%22 cy=%22534.062%22 rx=%223.352%22 ry=%222.956%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221333.842%22 cy=%22534.062%22 rx=%221.922%22 ry=%221.478%22 fill=%22%23fff%22 opacity=%22.929%22%2F%3E%3Cellipse cx=%221457.859%22 cy=%22544.207%22 rx=%224.262%22 ry=%223.885%22 fill=%22%23fff%22 opacity=%22-.023%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221457.859%22 cy=%22544.207%22 rx=%222.092%22 ry=%221.942%22 fill=%22%23fff%22 opacity=%22-.023%22%2F%3E%3Cellipse cx=%221697.898%22 cy=%22454.516%22 rx=%222.812%22 ry=%222.751%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221697.898%22 cy=%22454.516%22 rx=%221.535%22 ry=%221.376%22 fill=%22%23fff%22 opacity=%22.924%22%2F%3E%3Cellipse cx=%221903.14%22 cy=%22557.306%22 rx=%223.459%22 ry=%223.227%22 fill=%22%23fff%22 opacity=%22-.134%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221903.14%22 cy=%22557.306%22 rx=%221.852%22 ry=%221.613%22 fill=%22%23fff%22 opacity=%22-.134%22%2F%3E%3Cellipse cx=%22146.842%22 cy=%22592.239%22 rx=%223.045%22 ry=%222.893%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22146.842%22 cy=%22592.239%22 rx=%221.463%22 ry=%221.447%22 fill=%22%23fff%22 opacity=%22.64%22%2F%3E%3Cellipse cx=%22316.41%22 cy=%22631.344%22 rx=%222.927%22 ry=%222.737%22 fill=%22%23fff%22 opacity=%22.034%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22316.41%22 cy=%22631.344%22 rx=%221.688%22 ry=%221.369%22 fill=%22%23fff%22 opacity=%22.034%22%2F%3E%3Cellipse cx=%22520.099%22 cy=%22673.573%22 rx=%222.65%22 ry=%222.469%22 fill=%22%23fff%22 opacity=%22.487%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22520.099%22 cy=%22673.573%22 rx=%221.716%22 ry=%221.235%22 fill=%22%23fff%22 opacity=%22.487%22%2F%3E%3Cellipse cx=%22676.13%22 cy=%22663.129%22 rx=%223.538%22 ry=%223.225%22 fill=%22%23fff%22 opacity=%22.289%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22676.13%22 cy=%22663.129%22 rx=%221.788%22 ry=%221.613%22 fill=%22%23fff%22 opacity=%22.289%22%2F%3E%3Cellipse cx=%22916.776%22 cy=%22663.075%22 rx=%222.124%22 ry=%222.022%22 fill=%22%23fff%22 opacity=%22.328%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22916.776%22 cy=%22663.075%22 rx=%221.223%22 ry=%221.011%22 fill=%22%23fff%22 opacity=%22.328%22%2F%3E%3Cellipse cx=%221000.363%22 cy=%22629.677%22 rx=%223.193%22 ry=%223.168%22 fill=%22%23fff%22 opacity=%22.139%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221000.363%22 cy=%22629.677%22 rx=%221.974%22 ry=%221.584%22 fill=%22%23fff%22 opacity=%22.139%22%2F%3E%3Cellipse cx=%221397.728%22 cy=%22656.404%22 rx=%222.196%22 ry=%222.085%22 fill=%22%23fff%22 opacity=%22.284%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221397.728%22 cy=%22656.404%22 rx=%221.062%22 ry=%221.043%22 fill=%22%23fff%22 opacity=%22.284%22%2F%3E%3Cellipse cx=%221597.786%22 cy=%22624.962%22 rx=%222.415%22 ry=%222.211%22 fill=%22%23fff%22 opacity=%22.265%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221597.786%22 cy=%22624.962%22 rx=%221.152%22 ry=%221.105%22 fill=%22%23fff%22 opacity=%22.265%22%2F%3E%3Cellipse cx=%221637.67%22 cy=%22582.615%22 rx=%223.732%22 ry=%223.414%22 fill=%22%23fff%22 opacity=%22.034%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221637.67%22 cy=%22582.615%22 rx=%221.946%22 ry=%221.707%22 fill=%22%23fff%22 opacity=%22.034%22%2F%3E%3Cellipse cx=%221998.804%22 cy=%22636.202%22 rx=%223.808%22 ry=%223.393%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221998.804%22 cy=%22636.202%22 rx=%221.879%22 ry=%221.697%22 fill=%22%23fff%22 opacity=%22.73%22%2F%3E%3Cellipse cx=%22119.669%22 cy=%22765.164%22 rx=%222.543%22 ry=%222.107%22 fill=%22%23fff%22 opacity=%22.375%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22119.669%22 cy=%22765.164%22 rx=%221.314%22 ry=%221.054%22 fill=%22%23fff%22 opacity=%22.375%22%2F%3E%3Cellipse cx=%22363.276%22 cy=%22711.552%22 rx=%223.633%22 ry=%223.205%22 fill=%22%23fff%22 opacity=%22-.021%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22363.276%22 cy=%22711.552%22 rx=%221.797%22 ry=%221.602%22 fill=%22%23fff%22 opacity=%22-.021%22%2F%3E%3Cellipse cx=%22419.734%22 cy=%22777.438%22 rx=%222.398%22 ry=%222.088%22 fill=%22%23fff%22 opacity=%22.381%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22419.734%22 cy=%22777.438%22 rx=%221.253%22 ry=%221.044%22 fill=%22%23fff%22 opacity=%22.381%22%2F%3E%3Cellipse cx=%22781.705%22 cy=%22758.541%22 rx=%222.434%22 ry=%222.343%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22781.705%22 cy=%22758.541%22 rx=%221.66%22 ry=%221.171%22 fill=%22%23fff%22 opacity=%22.759%22%2F%3E%3Cellipse cx=%22945.039%22 cy=%22705.172%22 rx=%222.939%22 ry=%222.894%22 fill=%22%23fff%22 opacity=%22.117%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22945.039%22 cy=%22705.172%22 rx=%221.882%22 ry=%221.447%22 fill=%22%23fff%22 opacity=%22.117%22%2F%3E%3Cellipse cx=%221181.763%22 cy=%22748.854%22 rx=%224.374%22 ry=%223.897%22 fill=%22%23fff%22 opacity=%22.144%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221181.763%22 cy=%22748.854%22 rx=%222.335%22 ry=%221.949%22 fill=%22%23fff%22 opacity=%22.144%22%2F%3E%3Cellipse cx=%221272.486%22 cy=%22709.892%22 rx=%222.815%22 ry=%222.784%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221272.486%22 cy=%22709.892%22 rx=%221.593%22 ry=%221.392%22 fill=%22%23fff%22 opacity=%22.595%22%2F%3E%3Cellipse cx=%221474.134%22 cy=%22697.975%22 rx=%222.393%22 ry=%222.186%22 fill=%22%23fff%22 opacity=%22.221%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221474.134%22 cy=%22697.975%22 rx=%221.43%22 ry=%221.093%22 fill=%22%23fff%22 opacity=%22.221%22%2F%3E%3Cellipse cx=%221638.812%22 cy=%22755.104%22 rx=%223.6%22 ry=%223.164%22 fill=%22%23fff%22 opacity=%22-.217%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221638.812%22 cy=%22755.104%22 rx=%221.948%22 ry=%221.582%22 fill=%22%23fff%22 opacity=%22-.217%22%2F%3E%3Cellipse cx=%221998.098%22 cy=%22782.92%22 rx=%223.87%22 ry=%223.797%22 fill=%22%23fff%22 opacity=%22.235%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221998.098%22 cy=%22782.92%22 rx=%222.233%22 ry=%221.899%22 fill=%22%23fff%22 opacity=%22.235%22%2F%3E%3Cellipse cx=%22107.593%22 cy=%22893.699%22 rx=%223.624%22 ry=%223.532%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22107.593%22 cy=%22893.699%22 rx=%222.194%22 ry=%221.766%22 fill=%22%23fff%22 opacity=%22.59%22%2F%3E%3Cellipse cx=%22385.393%22 cy=%22840.346%22 rx=%223.008%22 ry=%222.837%22 fill=%22%23fff%22 opacity=%22.326%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22385.393%22 cy=%22840.346%22 rx=%221.457%22 ry=%221.419%22 fill=%22%23fff%22 opacity=%22.326%22%2F%3E%3Cellipse cx=%22538.008%22 cy=%22896.845%22 rx=%223.024%22 ry=%222.79%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22538.008%22 cy=%22896.845%22 rx=%221.863%22 ry=%221.395%22 fill=%22%23fff%22 opacity=%22.77%22%2F%3E%3Cellipse cx=%22727.755%22 cy=%22854.542%22 rx=%222.696%22 ry=%222.616%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22727.755%22 cy=%22854.542%22 rx=%221.545%22 ry=%221.308%22 fill=%22%23fff%22 opacity=%22.614%22%2F%3E%3Cellipse cx=%22954.309%22 cy=%22868.962%22 rx=%222.706%22 ry=%222.317%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22954.309%22 cy=%22868.962%22 rx=%221.452%22 ry=%221.159%22 fill=%22%23fff%22 opacity=%22.74%22%2F%3E%3Cellipse cx=%221197.706%22 cy=%22794.342%22 rx=%222.554%22 ry=%222.529%22 fill=%22%23fff%22 opacity=%22.251%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221197.706%22 cy=%22794.342%22 rx=%221.526%22 ry=%221.264%22 fill=%22%23fff%22 opacity=%22.251%22%2F%3E%3Cellipse cx=%221339.486%22 cy=%22826.963%22 rx=%222.878%22 ry=%222.491%22 fill=%22%23fff%22 opacity=%22.209%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221339.486%22 cy=%22826.963%22 rx=%221.536%22 ry=%221.245%22 fill=%22%23fff%22 opacity=%22.209%22%2F%3E%3Cellipse cx=%221411.962%22 cy=%22871.853%22 rx=%222.819%22 ry=%222.559%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221411.962%22 cy=%22871.853%22 rx=%221.476%22 ry=%221.28%22 fill=%22%23fff%22 opacity=%22.766%22%2F%3E%3Cellipse cx=%221752.88%22 cy=%22799.022%22 rx=%223.416%22 ry=%223.352%22 fill=%22%23fff%22 opacity=%22.315%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221752.88%22 cy=%22799.022%22 rx=%221.933%22 ry=%221.676%22 fill=%22%23fff%22 opacity=%22.315%22%2F%3E%3Cellipse cx=%221974.195%22 cy=%22799.036%22 rx=%222.987%22 ry=%222.93%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221974.195%22 cy=%22799.036%22 rx=%221.551%22 ry=%221.465%22 fill=%22%23fff%22 opacity=%22.814%22%2F%3E%3Cellipse cx=%22154.215%22 cy=%22908.819%22 rx=%222.892%22 ry=%222.596%22 fill=%22%23fff%22 opacity=%22-.209%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22154.215%22 cy=%22908.819%22 rx=%221.383%22 ry=%221.298%22 fill=%22%23fff%22 opacity=%22-.209%22%2F%3E%3Cellipse cx=%22210.572%22 cy=%221016.46%22 rx=%223.048%22 ry=%222.808%22 fill=%22%23fff%22 opacity=%22.12%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22210.572%22 cy=%221016.46%22 rx=%221.411%22 ry=%221.404%22 fill=%22%23fff%22 opacity=%22.12%22%2F%3E%3Cellipse cx=%22521.549%22 cy=%22942.424%22 rx=%222.505%22 ry=%222.476%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22521.549%22 cy=%22942.424%22 rx=%221.638%22 ry=%221.238%22 fill=%22%23fff%22 opacity=%22.624%22%2F%3E%3Cellipse cx=%22608.154%22 cy=%22983.774%22 rx=%222.738%22 ry=%222.293%22 fill=%22%23fff%22 opacity=%22.242%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22608.154%22 cy=%22983.774%22 rx=%221.234%22 ry=%221.147%22 fill=%22%23fff%22 opacity=%22.242%22%2F%3E%3Cellipse cx=%22883.63%22 cy=%22912.007%22 rx=%224.093%22 ry=%223.638%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22883.63%22 cy=%22912.007%22 rx=%222.096%22 ry=%221.819%22 fill=%22%23fff%22 opacity=%22.695%22%2F%3E%3Cellipse cx=%221180.445%22 cy=%22955.935%22 rx=%223.103%22 ry=%222.909%22 fill=%22%23fff%22 opacity=%22.31%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221180.445%22 cy=%22955.935%22 rx=%221.494%22 ry=%221.454%22 fill=%22%23fff%22 opacity=%22.31%22%2F%3E%3Cellipse cx=%221295.764%22 cy=%22923.604%22 rx=%222.496%22 ry=%222.287%22 fill=%22%23fff%22 opacity=%22-.273%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221295.764%22 cy=%22923.604%22 rx=%221.528%22 ry=%221.144%22 fill=%22%23fff%22 opacity=%22-.273%22%2F%3E%3Cellipse cx=%221454.4%22 cy=%22974.424%22 rx=%223.144%22 ry=%222.697%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221454.4%22 cy=%22974.424%22 rx=%221.484%22 ry=%221.348%22 fill=%22%23fff%22 opacity=%22.583%22%2F%3E%3Cellipse cx=%221644.92%22 cy=%22986.985%22 rx=%223.461%22 ry=%223.255%22 fill=%22%23fff%22 opacity=%22.396%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221644.92%22 cy=%22986.985%22 rx=%221.653%22 ry=%221.627%22 fill=%22%23fff%22 opacity=%22.396%22%2F%3E%3Cellipse cx=%221929.849%22 cy=%221007.966%22 rx=%223.719%22 ry=%223.664%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221929.849%22 cy=%221007.966%22 rx=%222.327%22 ry=%221.832%22 fill=%22%23fff%22 opacity=%22.711%22%2F%3E%3Cellipse cx=%2270.905%22 cy=%221112.693%22 rx=%223.416%22 ry=%223.131%22 fill=%22%23fff%22 opacity=%22.499%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%2270.905%22 cy=%221112.693%22 rx=%222.045%22 ry=%221.565%22 fill=%22%23fff%22 opacity=%22.499%22%2F%3E%3Cellipse cx=%22386.192%22 cy=%221048.523%22 rx=%222.935%22 ry=%222.675%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22386.192%22 cy=%221048.523%22 rx=%221.801%22 ry=%221.338%22 fill=%22%23fff%22 opacity=%22.811%22%2F%3E%3Cellipse cx=%22416.12%22 cy=%221049.486%22 rx=%224.011%22 ry=%223.846%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22416.12%22 cy=%221049.486%22 rx=%222.351%22 ry=%221.923%22 fill=%22%23fff%22 opacity=%22.564%22%2F%3E%3Cellipse cx=%22726.741%22 cy=%221112.441%22 rx=%223.375%22 ry=%223.001%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22726.741%22 cy=%221112.441%22 rx=%221.682%22 ry=%221.5%22 fill=%22%23fff%22 opacity=%22.732%22%2F%3E%3Cellipse cx=%22859.844%22 cy=%221049.916%22 rx=%223.628%22 ry=%223.464%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%22859.844%22 cy=%221049.916%22 rx=%221.83%22 ry=%221.732%22 fill=%22%23fff%22 opacity=%22.636%22%2F%3E%3Cellipse cx=%221033.585%22 cy=%221050.396%22 rx=%223.256%22 ry=%223.083%22 fill=%22%23fff%22 opacity=%22.422%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221033.585%22 cy=%221050.396%22 rx=%221.747%22 ry=%221.541%22 fill=%22%23fff%22 opacity=%22.422%22%2F%3E%3Cellipse cx=%221397.872%22 cy=%221086.025%22 rx=%223.392%22 ry=%223.379%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221397.872%22 cy=%221086.025%22 rx=%221.884%22 ry=%221.689%22 fill=%22%23fff%22 opacity=%22.593%22%2F%3E%3Cellipse cx=%221455.56%22 cy=%221083.771%22 rx=%222.656%22 ry=%222.294%22 fill=%22%23fff%22 opacity=%22.46%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221455.56%22 cy=%221083.771%22 rx=%221.429%22 ry=%221.147%22 fill=%22%23fff%22 opacity=%22.46%22%2F%3E%3Cellipse cx=%221721.998%22 cy=%221048.832%22 rx=%223.504%22 ry=%223.413%22 fill=%22%23fff%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221721.998%22 cy=%221048.832%22 rx=%221.713%22 ry=%221.707%22 fill=%22%23fff%22 opacity=%22.846%22%2F%3E%3Cellipse cx=%221868.903%22 cy=%221100.244%22 rx=%222.379%22 ry=%222.14%22 fill=%22%23fff%22 opacity=%22-.239%22 filter=%22url(%23a)%22%2F%3E%3Cellipse cx=%221868.903%22 cy=%221100.244%22 rx=%221.399%22 ry=%221.07%22 fill=%22%23fff%22 opacity=%22-.239%22%2F%3E%3Cg transform=%22rotate(-64.551 476.622 222.775)%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 x1=%220%22 y1=%221%22 x2=%22189.576%22 y2=%221%22 gradientUnits=%22userSpaceOnUse%22%3E%3Cstop stop-color=%22%23fff%22%2F%3E%3Cstop offset=%22.3%22 stop-color=%22%23fff%22 stop-opacity=%22.1%22%2F%3E%3Cstop offset=%22.7%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect x=%22-9.479%22 y=%22-12.5%22 width=%2275.83%22 height=%2225%22 rx=%2225%22 ry=%2225%22 fill=%22url(%23b)%22 filter=%22url(%23c)%22 opacity=%22.4%22%2F%3E%3Crect width=%22113.746%22 height=%228%22 rx=%228%22 ry=%228%22 fill=%22url(%23b)%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-63.739 510.818 -308.14)%22 fill=%22url(%23b)%22%3E%3Crect x=%22-9.123%22 y=%22-12.5%22 width=%2272.983%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23c)%22 opacity=%22.4%22%2F%3E%3Crect width=%22109.474%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-58.583 936.934 -787.13)%22 fill=%22url(%23b)%22%3E%3Crect x=%22-10.549%22 y=%22-12.5%22 width=%2284.393%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23c)%22 opacity=%22.4%22%2F%3E%3Crect width=%22126.59%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-59.45 1012.059 -1253.957)%22 fill=%22url(%23b)%22%3E%3Crect x=%22-10.271%22 y=%22-12.5%22 width=%2282.165%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23c)%22 opacity=%22.4%22%2F%3E%3Crect width=%22123.248%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-63.814 960.994 -1473.326)%22 fill=%22url(%23b)%22%3E%3Crect x=%22-13.045%22 y=%22-12.5%22 width=%22104.361%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23c)%22 opacity=%22.4%22%2F%3E%3Crect width=%22156.541%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-64.333 756.444 387.137)%22 fill=%22url(%23b)%22%3E%3Crect x=%22-13.058%22 y=%22-12.5%22 width=%22104.461%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23c)%22 opacity=%22.4%22%2F%3E%3Crect width=%22156.691%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-56.24 942.065 -451.1)%22 fill=%22url(%23b)%22%3E%3Crect x=%22-11.336%22 y=%22-12.5%22 width=%2290.69%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23c)%22 opacity=%22.4%22%2F%3E%3Crect width=%22136.035%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-57.866 1494.443 -359.24)%22 fill=%22url(%23b)%22%3E%3Crect x=%22-10.824%22 y=%22-12.5%22 width=%2286.592%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23c)%22 opacity=%22.4%22%2F%3E%3Crect width=%22129.888%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-64.888 1563.472 -636.957)%22 fill=%22url(%23b)%22%3E%3Crect x=%22-11.912%22 y=%22-12.5%22 width=%2295.3%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23c)%22 opacity=%22.4%22%2F%3E%3Crect width=%22142.95%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-62.094 1716.659 -879.288)%22 fill=%22url(%23b)%22%3E%3Crect x=%22-9.43%22 y=%22-12.5%22 width=%2275.437%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23c)%22 opacity=%22.4%22%2F%3E%3Crect width=%22113.155%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    }

    .bg-table {
        background: url("e:\Zoro\Code\Laravel\ui-library\public\images\products\vintage-bottle.jpeg");
        position: relative;
        background-size: cover;
        background-position: center;
    }

    .bg-table::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        filter: blur(3px);
    }

    /*-- -------------------------------- dynamic-bg-patterns -------------------------------- */
    .bg-circles {
        @apply pattern-circles;
        @apply dark:pattern-dark-circles;
    }

    .bg-isometric {
        @apply pattern-isometric;
        @apply dark:pattern-dark-isometric;
    }

    .bg-waves {
        @apply pattern-waves;
        @apply dark:pattern-dark-waves;
    }

    .bg-zigzag {
        @apply pattern-zigzag;
        @apply dark:pattern-dark-zigzag;
    }

    /*-- -------------------------------- shadow -------------------------------- */
}
